*{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body{
  width: 99%;
  display: grid;
  justify-content: center;
  align-items: center;

}
form{
  width: 500px;
  height: 450px;
  background-color: #24445C;
  display: grid;
  margin-bottom: 50px;
  padding: 20px;
  border: solid;
  opacity: 10px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
label{
  font-weight: bold;
  color: white;
}
form p{
  display: flex;
  justify-content: center;
  align-items: center;
}
form a{
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.cription{
  display: flex;
  justify-content: center;
  text-align: center;
}
.inscr{
  padding: 8px;
  margin: 5px;
}
.enregistrer img {display: none;}
.enregistrer{
display: block;
width:75px;
height:24px;
background-image:url(/img/exemple/boutonc.gif);
}
.enregistrer:link{
background-position: 0 0;
}
.enregistrer:hover {
background-position: -75px 0;
}




